.App-header {
  background-color: #d7e2ff;

  .avatar-profile {
    margin: 0 auto;
  }

  h1,
  h2 {
    color: #ff6c39;
  }

  h4 {
    color: black;
    margin-bottom: 50px;
  }

  .MuiSvgIcon-root {
    color: black;
    padding-bottom: 30px;
  }
}
